<ion-view class="welcome-view pane" cache-view="false" nav-view="active" style="opacity: 1; transform: translate3d(0%, 0px, 0px);">
  <ion-nav-bar class="nav-bar-container" nav-bar-transition="ios" nav-bar-direction="none" nav-swipe="">
    <ion-nav-back-button class="hide"></ion-nav-back-button>
    <ion-nav-buttons side="right" class="hide"></ion-nav-buttons>
    <div class="nav-bar-block" nav-bar="cached"><ion-header-bar align-title="center" class="bar bar-header disable-user-behavior"><button ng-click="$ionicGoBack()" class="button back-button hide buttons  button-clear header-item"><i class="icon ion-ios-arrow-back"></i>
      <span class="back-text"><span class="default-title">Back</span><span class="previous-title hide"></span></span></button><div class="title title-center header-item"></div><div class="buttons buttons-right header-item"><span class="right-buttons">

    </span></div></ion-header-bar></div><div class="nav-bar-block" nav-bar="active"><ion-header-bar align-title="center" class="bar bar-header disable-user-behavior"><button ng-click="$ionicGoBack()" class="button back-button hide buttons  button-clear header-item"><i class="icon ion-ios-arrow-back"></i>
    <span class="back-text"><span class="default-title">Back</span><span class="previous-title hide"></span></span></button><div class="title title-center header-item" style="left: 50px; right: 50px;"></div><div class="buttons buttons-right header-item"><span class="right-buttons">

    </span></div></ion-header-bar></div></ion-nav-bar>
  <ion-content scroll="false" class="scroll-content ionic-scroll scroll-content-false  has-header">
    <div class="multi-bg-outer" ng-class="{ 'finish-loading': loaded }" multi-bg="bgs" interval="3000" helper-class="facebook-welcome-bg" style="background-image: url(&quot;img/sample_images/3.jpeg&quot;);">
      <img bg="" class="multi-bg facebook-welcome-bg" ng-src="img/welcome-bg.jpeg" src="img/sample_images/3.jpeg">
      <span class="bg-overlay"></span>
      <!-- <span ng-show="!loaded" class="spinner-on-load ion-load-c"></span> -->

        <div class="top-content row">
          <div class="app-copy col col-center">
            <h1 class="app-logo">destroker</h1>
            <p class="app-tagline">
              Your Safety App
            </p>
          </div>
        </div>
        <div class="bottom-content row">
          <div class="col col-bottom">
            <a class="facebook-sign-in button-large button button-block" ui-sref="tab.account">
              Start Monitoring
            </a><br><BR><BR>

          </p>
          </section>
          </div>
        </div>

    </div>
  </ion-content>
</ion-view>
