<ion-view view-title="FAST Test">
  <ion-content>
    <div class="card">
      <div class="item item-divider">
        Repeat the following sentence
      </div>
      <div class="item item-text-wrap">
        {{sentence}}
      </div>
    </div>


    <div class="list list-inset">
      <label class="item item-input">
        <input ng-model="answer" type="text" placeholder="Repeat sentence here">
      </label>
      <br>
      <button ng-click="send()" class="button button-block button-calm">
        Send
      </button>
    </div>

  </ion-content>
</ion-view>
